.benefits-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.benefits__text {
    grid-row: 2 span;
    max-width: 390px;
}
@media screen and (max-width: 1140.98px) {
    .benefits-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768.98px) {
    .benefits-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.benefits__text {
    margin-top: 30px;
    max-width: 390px;
    margin-right: 80px;
}
.benefits__text-title {
    margin-bottom: 10px;
}
.benefits__text-desc{
    margin-bottom: 31px;
}

@media screen and (max-width: 1140.98px) {
    .advantages__menu-grid {
        grid-template-columns: 1fr;
    }
}

.benefits__button {
    color: var(--primary);
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}
.ri-flashlight-fill {
    color: #00CBF8;
    font-size: 36px;
}
.advantages__menu-grid-item {
    padding-top: 42px;
    padding-bottom: 28px;
    padding-inline: 20px;
    max-width: 335px;
}
.advantages-item-title {
    padding-block: 29px 9px;
}
